<section id="plans" class="main-plans-container">
  <h2>Choose the plan that best suits you</h2>
  <p> Plans with full and guaranteed access to the platform</p>
  <div class="plans-container--slider">
  <div class="plans-container--card">
    <div class="plan-card">
      <h3 class="plan-card--title">Monthly payment</h3>
      <p class="plan-card--price"><span>$</span> 19</p>
      <p class="plan-card--saving">
        *Pay once a month from the day of your purchase.
      </p>
    </div>
  </div>
  <div class="plans-container--card">
    <p class="recommended"> Recommended</p>
    <div class="plan-card">
      <h3 class="plan-card--title">Semi-annual payment</h3>
      <p class="plan-card--price"><span>$</span> 99</p>
      <p class="plan-card--saving">
        *You save $ 15 compared to the monthly plan.
      </p>
        </div>
      </div>
      <div class="plans-container--card">
        <div class="plan-card">
          <h3 class="plan-card--title">Annual payment</h3>
          <p class="plan-card--price"><span>$</span> 129</p>
          <p class="plan-card--saving">
            *Unlimited savings during the first 6 months (last installments)
          </p>
        </div>
      </div>
    </div>
  </section>