<header class="jumbotron jumbotron-fluid">
    <img src="./assets/fondo1.svg" alt="batatabit">
    <div class=" container" id="header--title-container">
        <h1 class="display-4"> The next revolution in cryptocurrency exchange</h1>
        <p class="lead">Browse between the different prices and trends</p> 
        
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" id="header--button">
            Contact us
        </button>
    </div>
    
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact us</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times; </span>
            </button>
        </div>
        <div class="modal-body" id="container-modal">
            
            <!--formulary contact -->
            <form #formContacto="ngForm" (ngSubmit)="OnSubmit(formContacto)" id="container-form">
                <label for="nombre" class="form-title">Name</label> <br>
                <input type="text" class="form-content" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required/> 
                <span *ngIf="nombre.touched && !nombre.valid" ></span> <br>
                <label for="email" class="form-title">Email</label> <br>
                <input type="text" class="form-content" name="email" #email="ngModel" [(ngModel)]="usuario.email" required  />
                <span *ngIf="email.touched && !email.valid" ></span><br>
                <label for="mensaje" class="form-title">Message</label> <br> 
                <textarea class="form-message" name="mensaje" #mensaje="ngModel" [(ngModel)]="usuario.mensaje" required pattern="[a-zA-Z]+"></textarea> 
                <span *ngIf="mensaje.touched && !mensaje.valid"></span><br>
                <input type="submit" value="Send" class="form-send" [disabled]="!formContacto.form.valid" id="send"/>
            </form>
        </div>
    </div>
</div>
</div>
</header>

<app-cryptocurrency></app-cryptocurrency>
<app-description></app-description>
<app-plans></app-plans>
<app-footer></app-footer>








