<div class="main-product-detail">
  <span class="product-detail--batata-logo"></span>
  <div class="product-detail--title">
    <h2>We create a product without comparison</h2>
    <p>Reliable and designed for your daily use</p>
  </div>
  <div class="product-cards--container">
    <article class="product-detail--card">
      <span class="clock"></span>
      <p class="product--card_title">Real time</p>
      <p class="product--card_body">
        Our API collects minute-by-minute information about the rates that most determine the compromise.
      </p>
    </article>
    <article class="product-detail--card">
      <span class="eye"></span>
      <p class="product--card_title">There are no hidden fees</p>
      <p class="product--card_body">
        At the purchase or at the time of exit, Batabit always shows you the real cost of what you are purchasing.
      </p>
    </article>
    <article class="product-detail--card">
      <span class="dollar"></span>
      <p class="product--card_title">Compare currencies</p>
      <p class="product--card_body">
        No more rumors, with Batabit you will know the real value of the coin in the current market.
      </p>
    </article>
    <article class="product-detail--card">
      <span class="check"></span>
      <p class="product--card_title">Información confiable</p>
      <p class="product--card_body">
        Our sources are 100% verified and we continue to audit their content as they update.
      </p>
    </article>
  </div>
</div>